@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$main-color:#76940a;
$sec-color:#37455e;
$main-grey:#d8d8d8;
$light-grey:#f3f5f7;
$main-white:#fff;
$font-grey:#333;
$font-sans:"Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif:georgia, serif;



// @mixins
@mixin social-icon-style { height: 43px;
                           width: 43px;
                           display: block;
}

@mixin social-icon-transition { transition: 0.3s ease-in-out;
                                -moz-transition: 0.3s ease-in-out;
                                -webkit-transition: 0.3s ease-in-out;
}
@mixin social-icon-hover { background-position:0px -45px;
}

@mixin work-Button { display:inline;
                    background:$sec-color;
                    color: $main-white;
                    border:1px solid $main-color;
                    cursor:;
}

// @mixin ends


.browsehappy {
    margin: 0.2em 0;
    background:$light-grey;
    color: #000;
    padding: 0.2em 0;
}


/* Space out content a bit */
body {
    padding-top: 0px;
    padding-bottom: 20px;
    font-family: $font-sans;
}

/* global style */
h1.sec-title   { font-size:2.2em;
                 font-weight: 500;
                 color:$main-color;
                 padding:8px;
                 text-shadow: 0 1px 0 #999;
                 letter-spacing: 1px;
                 // margin: 17px 0 7px 0;
}



.btn-work  { @include work-Button;}


 .row { background:#fff;

}

#header { background:$main-color;
          text-align:center;
          height: 280px;
          width: 100%;
          border-bottom: 3px solid $main-white;
          position: relative;
          z-index: 5;

          h1  { background: transparent;
                position: relative;
                top:-10px;
                right: 25px;
                z-index: 5;
                margin: 0 auto;
                width: 220px;
                height: 183px;

                #logo { 

                    img:hover { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
                                filter: alpha(opacity=80);
                                -moz-opacity: 0.8;
                                -khtml-opacity: 0.8;
                                opacity: 0.8;
                              }

                }

                .info { color:$main-white;
                        text-transform: uppercase;
                        font-weight: 400;
                        font-size: 18px;
                        letter-spacing: 2px;

                        .logo-name  { position: relative;
                                      top: -2px;

                        }


                    }
          }


          #navDesktop  { border-top: 1px solid $main-grey;
                         border-bottom: 1px solid $main-grey;
                         width: 700px;
                         margin:0 auto;
                         position: relative;
                         top:-80px;
                         height: 45px;

                  ul  { z-index:1;
                        width: 700px;
                        margin-top:13px;
                        list-style-type: none;
                        padding:0;
                        font-size: 18px;
                        text-transform: uppercase;
                        font-weight: 400;
                        height: 40px;
                        text-align: center;
                        color: #ddd;
                        letter-spacing: 1px;
                        }

                  li { display:inline-block;
                        }

                  ul > li > a { color: $main-white;
                                text-decoration: none; }


                  ul > li:hover { border-bottom:2px solid $sec-color;
                                  



                            }
                    
                       }
          li a {
                text-shadow: 0 1px 0 #999;
                padding:7px 20px 5px;
                color:#555;
                opacity: 0.75;
                margin-top: 10px;
              }

          li.spacer { width:220px;

          }

          #navMobile  { display: none;
                        position: fixed;
                        width: 100%;
                        top: 0;

                  div { display: none;

                  }

                  button  { display: inline-block;
                            margin:0 1em;
                            border:none;
                            background:none;

                              span  { display:block;}

                            }

                  .lines  { display:inline-block;
                            width: 4rem;
                            height: 0.57143rem;
                            background:#fff;
                            border-radius: 0.28571rem;
                            transition: 0.6s;
                            position: relative;
                          }

                  .lines:before, .lines:after { display:inline-block;
                                                width: 4rem;
                                                height: 0.57143rem;
                                                background:#fff;
                                                transition: 0.4s;
                                                position: absolute;
                                                left: 0;
                                                content: '';
                                                -webkit-transform-origin: 0.28571rem center;
                                                transform-origin: 0.28571rem center;

                  }

                  .lines:before {top: 1rem;
                                 border-radius:0.57143rem;
                                }
                  .lines:after { top: -1rem;
                                 border-radius:0.57143rem;
                               }


                  .lines-button  {  position: absolute;
                                    top: 4px;
                                    right: -10px;
                                    padding: 1.5rem 1rem;
                                    cursor: pointer;
                                    border-radius:0.57143rem;
                                    transition: .4s;
                            // transition: all 400ms ease;
                          }

                  .expanded  { transform: rotate(90deg);
                               background-color: transparent;
                               padding: 1.5rem 1rem;
                              }

                              a { display:block; }

                              ul > li > a { color: $main-white;
                                            text-decoration: none; }

                              ul { width: 100%;
                                   list-style: none;
                                   font-size: 18px;
                                   font-weight: 500;
                                   position: relative;
                                   top: 13em;
                                   margin: 0;
                                   padding: 0;
                                   background: $main-color;
                                  }

          li { display:inline-block;
               width: 100%;
               height: 35px;
               padding: 4px 0;
               border-top:2px solid $main-grey;
              }

              li a {
                
                padding:0px 20px 5px;
                color:#555;
                opacity: 0.75;
                margin: 0px;
              }



          li.bottom { border-bottom:2px solid $main-grey;}

        
          }        
}

#work { background:$light-grey;

  article { display: inline-block;
            vertical-align: top;
            margin:0 1% 30px;
            padding:0 0 5px;
        }



        ul  { list-style: none;
              float: left;
              margin-right: -3px;
              margin-top: -5px;
              position: relative;
              top: -3px;
              left: -40px;
            }

        li { width: 16px;
             height: 16px;
             display: inline;
             margin: 0 2px;
            }

  a.workImg { display:block;
              background:$main-white;
              margin-bottom: 10px;
              padding:5px 7px;
              box-shadow:rgba(0, 0, 0, 0.148438) 0 1px 2px;
              -webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0 1px 2px;
              position: relative;
              z-index: 1;

          img  { max-width:100%;
                 width: 100%;
                 border:1px solid #ccc;
                 opacity: .5;
                 transition: opacity .5s ease-out;
                 -moz-transition: opacity .5s ease-out;
                 -webkit-transition: opacity .5s ease-out;
                 -o-transition: opacity .5s ease-out;
                }



  img:hover   {opacity: 1; }

  }

  h3 > a { font-size:0.63em;
           font-weight: 500;
           color:$sec-color;
           text-align: center;
           margin: 0 auto;
           width: 28%;
           position: relative;
           top:-22px;
           left: -29px;
         }

  p > a { color:$main-white;
          font-size: 12px;
          line-height: 1.5em;
          width: 100%;
          position: relative;
          top: -15px;
         }

         
}

#about  { background:$main-white;
          padding-bottom:50px;

          #mePhoto { background:url('../images/wesleypic.jpg') no-repeat -0.6em -1.2em;
                     width: 190px;
                     height: 190px;
                     border-radius: 50%;
                     float: left;
                     border:2px solid $sec-color;
                     margin: 11px 12px;
                    }


   #social {

            ul  { margin: 20px 0 30px -35px;
                }

            li { display: inline-block;
                 list-style: none;
                 text-indent: -9999px;
                 margin: 0 3px;
                }

          /*   Social Icons */
          #twitter   { background:url('../images/social/twitter.png') no-repeat;
                        @include social-icon-style;
                        @include social-icon-transition;
                }

          #twitter:hover { @include social-icon-hover;
                           @include social-icon-transition;
                          }

          #linkedIn { background:url('../images/social/Linkedin.png') no-repeat;
                      @include social-icon-style;
                      @include social-icon-transition;
                }

          #linkedIn:hover  { @include social-icon-hover;
                             @include social-icon-transition;
                }

          #gitHub { background:url('../images/social/github.png') no-repeat;
                      @include social-icon-style;
                      @include social-icon-transition;
                }

          #gitHub:hover  { @include social-icon-hover;
                             @include social-icon-transition;
                }

          #googlePlus { background:url('../images/social/googlePlus.png') no-repeat;
                      @include social-icon-style;
                      @include social-icon-transition;
                }

          #googlePlus:hover  { @include social-icon-hover;
                             @include social-icon-transition;
                }

          #Instagram { background:url('../images/social/instagram.png') no-repeat;
                      @include social-icon-style;
                      @include social-icon-transition;
                }

          #Instagram:hover  { @include social-icon-hover;
                             @include social-icon-transition;
                }

          #Facebook { background:url('../images/social/facebook.png') no-repeat;
                      @include social-icon-style;
                      @include social-icon-transition;
                }

          #Facebook:hover  { @include social-icon-hover;
                             @include social-icon-transition;
                }
          }
}

/* Contact Area */
#contact  { background:$light-grey;
            padding-bottom:40px;

      label { font-weight:500;
              font-size: 1.2em;
              display: block;
              width: 100%;
              margin-bottom: 1px;
              color: $font-grey;
              margin-left: 4px;

      }

      input, textarea { border-radius:3px;
                        border:1px solid $sec-color;
                        margin-bottom: 20px;
      }

      .btn-contact  { background:$sec-color;
                      color:$main-white;
                      width: 100%;
                      border:1px solid $main-color;
                      box-shadow:1px 1px #fff;
                      font-size: 1.2em;
                      text-shadow: 0 -1px 1px #666;
      }

      .btn-contact:hover  { background:$main-color;
      }


      .help-block { color:#a94442;

          ul  { background:#f2dede;
                border:1px solid #f2dede;
                padding:8px;
                border-radius:4px;
                list-style: none;

          }
      }
}

.footer {
    padding: 19px 0;
    color: $sec-color;
    border-top: 1px solid $sec-color;
    background:$main-white;
    width: 100%;
}


/* Responsive: Portrait tablets and up */
@media screen and (max-width: 800px) {

  #header { background:$main-color;
            text-align:center;
            height: 250px;
            width: 100%;
            border-bottom: 3px solid $main-white;
            position: relative;
            z-index: 5;

           h1 { background:transparent;
            position: relative;
            top: -20;
            right: 0;
            

           }


  #navDesktop  { display:none;
                }  

  #navMobile  { display:block;

  }



    }

    #work { background:$light-grey;

  article { width:100%;
            display: inline-block;
            vertical-align: top;
            margin:0 1% 30px;
            padding:0 0 5px;
        }

      }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1100px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
  
}

@media screen and (min-width: 1200px) {
        .col-lg-4 {
    width: 29.33333% !important; }

  }


@media screen and (min-width: 992px) {
        .col-md-4 {
    width: 29.33333% !important; }

  }

