/* SASS / Social Media Brand Colors */
/* === General Styles === */
/* Space out content a bit */
body {
  padding-top: 0px;
  padding-bottom: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: bold;
  font-family: georgia, serif;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.65rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.57rem;
}

img {
  max-width: 100%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-center {
  margin: 0 auto;
}

p {
  margin: 0 0 15px;
}

p {
  margin: 0 0 15px;
}

p.lead {
  font-weight: normal;
}

a {
  color: #76940a;
  text-decoration: none;
}

a:link, a:visited {
  color: #76940a;
}

a:hover {
  text-decoration: none;
  color: #d8d8d8;
}

button, input, select, .btn, a.btn {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #fff;
}

.btn {
  font-weight: bold;
}

.btn:focus {
  outline: none;
}

.btn-work {
  display: inline;
  background: #37455e;
  color: #fff;
  border: 1px solid #76940a;
  cursor: default;
}

blockquote {
  font-style: italic;
  border: none;
  font-size: 1.5686rem;
  font-weight: normal;
  padding: 7px 15px;
  margin: 0 15px;
}

.badge.social {
  background: #f3f5f7;
  font-size: 24px;
  width: 35px;
  height: 35px;
  line-height: 37px;
  color: #fff;
  padding: 0;
  margin: 0 5px 20px 0;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

a:link, a:visited {
  color: black;
}

a:link i, a:visited i {
  font-size: 16px;
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.margin-top {
  margin: 15px 0;
}

/* ===== LAYOUT ==== */
section {
  padding: 50px 0;
}

.sec-title {
  text-align: left;
}

.sec-title h1 {
  font-size: 2.2em;
  font-weight: 500;
  color: #76940a;
  padding: 8px;
  text-shadow: 0 1px 0 #999;
  letter-spacing: 1px;
}

/* ==== HEADER ==== */
header {
  background: #76940a;
  text-align: center;
  height: 280px;
  width: 100%;
  border-bottom: 3px solid #fff;
  position: relative;
  z-index: 5;
}

header h1 {
  background: transparent;
  position: relative;
  top: -10px;
  right: 25px;
  z-index: 5;
  margin: 0 auto;
  width: 220px;
  height: 183px;
  /* logo ends here */
}

header h1 #logo img:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}

header h1 .info {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 2px;
}

header h1 .info .logo-name {
  position: relative;
  top: -2px;
}

header #navDesktop {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  width: 700px;
  margin: 0 auto;
  position: relative;
  top: -80px;
  height: 45px;
}

header #navDesktop ul {
  z-index: 1;
  width: 700px;
  margin-top: 13px;
  list-style-type: none;
  padding: 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  height: 40px;
  text-align: center;
  color: #ddd;
  letter-spacing: 1px;
}

header #navDesktop li {
  display: inline-block;
}

header #navDesktop ul > li a {
  color: #fff;
  text-decoration: none;
}

header #navDesktop ul li:hover {
  border-bottom: 2px solid #37455e;
}

header li a {
  text-shadow: 0 1px 0 #999;
  padding: 7px 20px 5px;
  color: #555;
  opacity: 0.75;
  margin-top: 10px;
}

header li.spacer {
  width: 220px;
}

header #navMobile {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
}

header #navMobile div {
  display: none;
}

header #navMobile button {
  display: inline-block;
  margin: 0 1em;
  border: none;
  background: none;
}

header #navMobile button span {
  display: block;
}

header #navMobile button .lines {
  display: inline-block;
  width: 4rem;
  height: 0.57143rem;
  background: #fff;
  border-radius: 0.28571rem;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  position: relative;
}

header #navMobile button .lines:before, header #navMobile button .lines:after {
  display: inline-block;
  width: 4rem;
  height: 0.57143rem;
  background: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 0.28571rem center;
  -ms-transform-origin: 0.28571rem center;
  transform-origin: 0.28571rem center;
}

header #navMobile button .lines:before {
  top: 1rem;
  border-radius: 0.57143rem;
}

header #navMobile button .lines:after {
  top: -1rem;
  border-radius: 0.57143rem;
}

header #navMobile button .lines-button {
  position: absolute;
  top: 4px;
  right: -10px;
  padding: 1.5rem 1rem;
  cursor: pointer;
  border-radius: 0.57143rem;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

header #navMobile button .expanded {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: transparent;
  padding: 1.5rem 1rem;
}

header #navMobile button a {
  display: block;
}

header #navMobile button ul > li > a {
  color: #fff;
  text-decoration: none;
}

header #navMobile button ul {
  width: 100%;
  list-style: none;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  top: 13em;
  margin: 0;
  padding: 0;
  background: #76940a;
}

header #navMobile button li {
  display: inline-block;
  width: 100%;
  height: 35px;
  padding: 4px 0;
  border-top: 2px solid #d8d8d8;
}

header #navMobile button li a {
  padding: 0px 20px 5px;
  color: #555;
  opacity: 0.75;
  margin: 0px;
}

header #navMobile button li.bottom {
  border-bottom: 2px solid #d8d8d8;
}

/* ==== WORK ==== */
#work {
  background: #f3f5f7;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.item {
  width: 100%;
  border: 1px solid #37455e;
  position: relative;
  z-index: 1;
  padding: 0;
}

.item .thumb {
  width: 100%;
  position: relative;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.item .thumb img {
  height: auto;
}

.thumb-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  opacity: 0;
  -webkit-transition: .8s ease;
  -o-transition: .8s ease;
  transition: .8s ease;
  background: #37455e;
}

.thumb-overlay .caption h2 {
  font-size: 1.2em;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  text-align: center;
  letter-spacing: 0.2rem;
  padding: 0 5px 0;
}

.thumb-overlay .caption .tags {
  position: relative;
  top: 0;
  left: 0;
  text-align: left;
  width: 100%;
  z-index: 10;
  display: block;
}

.thumb-overlay .caption .tags ul {
  display: block;
  text-align: center;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.thumb-overlay .caption .tags ul li {
  display: inline-block;
  padding: 2px;
  background-color: #313131;
  border: 1px solid #222;
  text-transform: uppercase;
  font-family: arial;
  font-size: .9rem;
  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  margin: 2px;
  position: relative;
}

.thumb-overlay .caption .view {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: block;
}

.thumb-overlay .caption .view ul {
  display: block;
  text-align: center;
}

.thumb-overlay .caption .view ul li {
  display: inline-block;
  padding: 2px;
  margin: 2px;
}

.thumb-overlay .caption .view ul li .fa {
  font-size: 25px;
  margin: 8px 0;
  color: #d8d8d8;
}

.thumb-overlay .caption .view ul li .fa:hover {
  color: #76940a;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  -moz-transition: 0.6s ease-in-out;
  -webkit-transition: 0.6s ease-in-out;
}

.item:hover .thumb-overlay {
  opacity: 0.9;
}

/******* My Work Transition ************/
/* My Work Thumb Transition */
.work-thumb {
  width: 100%;
  position: relative;
  border: 1px solid #37455e;
}

.work-thumb .thumb-contain img {
  -o-object-fit: cover;
  object-fit: cover;
}

.work-thumb .thumb-contain .thumb {
  display: block;
  width: 100%;
  height: auto;
}

.work-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  opacity: 0;
  -webkit-transition: .8s ease;
  -o-transition: .8s ease;
  transition: .8s ease;
  background: #37455e;
}

.work-thumb:hover .work-overlay {
  opacity: 0.9;
  cursor: hand;
}

.caption {
  position: relative;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #d8d8d8;
}

/* ==== ABOUT ==== */
#about {
  background: #fff;
  padding-bottom: 50px;
}

#about #mePhoto {
  background: url("../images/wesleypic.jpg") no-repeat -0.6em -1.2em;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  float: left;
  border: 2px solid #37455e;
  margin: 11px 12px;
}

#about #social {
  /*   Social Icons */
}

#about #social ul {
  margin: 20px 0 30px -35px;
}

#about #social li {
  display: inline-block;
  list-style: none;
  text-indent: -9999px;
  margin: 0 3px;
}

#about #social #twitter {
  background: url("../images/social/twitter.png") no-repeat;
  height: 43px;
  width: 43px;
  display: block;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

#about #social #twitter:hover {
  background-position: 0px -45px;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

#about #social #linkedIn {
  background: url("../images/social/Linkedin.png") no-repeat;
  height: 43px;
  width: 43px;
  display: block;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

#about #social #linkedIn:hover {
  background-position: 0px -45px;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

#about #social #gitHub {
  background: url("../images/social/github.png") no-repeat;
  height: 43px;
  width: 43px;
  display: block;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

#about #social #gitHub:hover {
  background-position: 0px -45px;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

#about #social #googlePlus {
  background: url("../images/social/googlePlus.png") no-repeat;
  height: 43px;
  width: 43px;
  display: block;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

#about #social #googlePlus:hover {
  background-position: 0px -45px;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

#about #social #Instagram {
  background: url("../images/social/instagram.png") no-repeat;
  height: 43px;
  width: 43px;
  display: block;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

#about #social #Instagram:hover {
  background-position: 0px -45px;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

#about #social #Facebook {
  background: url("../images/social/facebook.png") no-repeat;
  height: 43px;
  width: 43px;
  display: block;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

#about #social #Facebook:hover {
  background-position: 0px -45px;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
}

/* ==== CONTACT ==== */
#contact {
  background: #f3f5f7;
  padding-bottom: 40px;
}

#contact label {
  font-weight: 500;
  font-size: 1.2em;
  display: block;
  width: 100%;
  margin-bottom: 1px;
  color: #333;
  margin-left: 4px;
}

#contact input, #contact textarea {
  border-radius: 3px;
  border: 1px solid #37455e;
  margin-bottom: 20px;
}

#contact .btn-contact {
  background: #37455e;
  color: #fff;
  width: 100%;
  border: 1px solid #76940a;
  -webkit-box-shadow: 1px 1px #fff;
  box-shadow: 1px 1px #fff;
  font-size: 1.2em;
  text-shadow: 0 -1px 1px #666;
}

#contact .btn-contact:hover {
  background: #76940a;
}

#contact .help-block {
  color: #a94442;
}

#contact .help-block ul {
  background: #f2dede;
  border: 1px solid #f2dede;
  padding: 8px;
  border-radius: 4px;
  list-style: none;
}

/* ===== FOOTER ==== */
footer {
  padding: 19px 0;
  color: #37455e;
  border-top: 1px solid #37455e;
  background: #fff;
  width: 100%;
}

/*# sourceMappingURL=../maps/style.css.map */
