// @mixins
@mixin social-icon-style { height: 43px;
                           width: 43px;
                           display: block;
}

@mixin social-icon-transition { transition: 0.3s ease-in-out;
                                -moz-transition: 0.3s ease-in-out;
                                -webkit-transition: 0.3s ease-in-out;
}
@mixin social-icon-hover { background-position:0px -45px;
}

@mixin work-Button { display:inline;
                    background:$sec-color;
                    color: $main-white;
                    border:1px solid $main-color;
                    cursor:default;
}

@mixin sexy-text {
	-webkit-font-smoothing:antialiased;
	text-rendering: optimizeLegibility;
}

@mixin circle {
  padding: 0;
  margin: 0 5px 20px 0;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
}

// @mixin ends