$main-color:#76940a;
$sec-color:#37455e;
$main-grey:#d8d8d8;
$light-grey:#f3f5f7;
$main-white:#fff;
$font-grey:#333;
$font-sans:"Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif:georgia, serif;